@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
/* ==================　共通 ======================================== */

body {
  background: #EEEEEE;
  color: #3E3E3E;
  font-family: 'Noto Sans JP', sans-serif;
}

.is-pc {
  display: none;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

dl,
dd {
  margin: 0;
}

/* ========　ヘッダー ============================================= */
header {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 10%);
  background: #fff;
}

.header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.header-logo {
  width: 90px;
  height: 90px;
  overflow: hidden;
}

.header-logo-img {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  transition: all 0.3s ease 0s;
}

.header-logo-img:hover {
	opacity: 0.6;
}

.header-menu {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

.header-menu-item {
  height: 100%;
  width: 90px;
  border-right: 1px solid #e6e6e6;
  text-align: center;
  padding: 5px;
}

.header-menu-item:first-child {
  border-left: 1px solid #e6e6e6;
}

.header-menu-item-link {
  width: 100%;
  height: 100%;
}

.header-menu-text {
  font-size: 13px;
}

.header-menu-item {
	display: none;
}

.drower-icon {
	display: none;
}

.drower-content {
	display: none;
}

.drower-background {
	display: none;
}

/* =================== メイン ========================================= */
main {
	margin-top: 90px;
	height: calc(100vh - 90px - 90px);
	padding: 60px 0;
}

.error-info {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.error-title {
	font-size: 48px;
}

.error-text {
	font-size: 28px;
}

.back-to-top-container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.back-to-top-text {
	font-size: 28px;
}

button {
	font-size: 24px;
	padding: 11px 50px 11px 50px;
    color: #fff;
    background: #FFAA3B;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

button:hover {
	background: #F18900;
}


/* =================== フッター ========================================= */

footer {
  text-align: center;
  background: #787A91;
  height: 90px;
  padding: 30px 0 25px;
  width: 100%;
}

footer p {
  color: #fff;
  font-size: 18px;
}

/* ============ タブレット ============================================================= */
@media (min-width: 768px) and (max-width: 1200px) {

  /* =========　ヘッダー =================================== */
  .header-inner {
    width: 688px;
  }

}
/* ============ スマホ ============================================================= */
@media (max-width: 767px) {

  h2,
  p {
    margin: 0;
  }

  .is-sp {
    display: none;
  }

  .is-pc {
    display: block;
  }

  .inner {
  	width: 343px;
  }

  /* =========　ヘッダー =================================== */
  header {
    height: 70px;
  }

  .header-inner {
    width: 345px;
  }

  .header-logo {
    width: 200px;
    display: flex;
    align-items: center;
  }

  .header-logo-title {
    font-size: 24px;
    transition: all 0.3s ease 0s;
  }

  .header-logo-title:hover {
  	opacity: 0.6;
  }

  /* =========　メイン =================================== */
	main {
		margin-top: 70px;
		height: calc(100vh - 70px - 90px);
	}

	.error-info {
		width: 100%;
	}

	.error-title {
		font-size: 42px;
	}

	.error-text {
		font-size: 24px;
	}

	.back-to-top-container {
		width: 100%;
		margin-top: 30px;
	}

	.back-to-top-text {
		font-size: 24px;
	}

	form {
		margin-top: 30px;
	}
}
