@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
	background: #EEEEEE;
	color: #222222;
  	font-family: 'Noto Sans JP', sans-serif;
}

main {
	height: 100vh;
	display: flex;
	align-items: center;
}

.login {
	background: #fafafa;
	width: 40%;
	margin: 0 auto;
	padding: 20px;
}

.login-form-title {
	font-size: 28px;
	text-align: center;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

..button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #FFAA3B;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #F18900;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #222222;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  opacity: .6;
}

/* ============ タブレット ============================================================= */
@media (min-width: 768px) and (max-width: 1200px) {

	.login {
		width: 60%;
	}

	.login-form-title {
		margin: 30px 0;
		font-size: 36px;
	}

	.form-item input {
		font-size: 24px;
	}

	input {
		margin-top: 30px;
	}

	input::placeholder {
		font-size: 20px;
	}

	.button {
		font-size: 24px;
	}

	.form-footer {
		font-size: 20px;
	}
}

/* ============ スマホ ============================================================= */
@media (max-width: 767px) {

	.login {
		width: 90%;
	}

	.login-form-title {
		font-size: 24px;
	}

	form {
		margin-top: 2em;
	}

}

